/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.navbar,
.navbar-left,
.logo,
.home-button,
.search-bar,
.search-bar input,
input::placeholder,
.search-button,
.browse-button,
.browse-icon,
.navbar-right,
.nav-links,
#small1,
#small2,
.nav-links a,
.divider,
.login-btn,
.sidebar,
.library-header,
.library-header h2,
.add-btn,
.library-content,
.card,
.card h3,
 p,
.white-btn,
.library-footer,
.footer-links,
.footer-links a,
.language-btn,
.main-section,
.section-title,
.playlist-scroll,
.playlist-card,
.playlist-card h4,
.playlist-card p,
.span,
#title,
#artist, 
.brcard h3{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}



body {
  margin: 0;
  background-color: black;
  color: white;
  --icon-hover-color: #ffffff;
  overflow: hidden;
  /* Set your desired hover color here */
}


















.home-button,
.home-button svg path,
.search-bar,
.search-button .search-icon,
.browse-button .browse-icon,
#small1,
#small2,
.nav-links a,
.login-btn {
    transition: all 0.15s ease;
}



.invert{
    filter: invert(1);
}

.bg-color{
    background-color: #2a2a2a;
}

.bold{
    font-weight: bold;
}





/* Scrollbar for Webkit Browsers (Chrome, Edge, Safari) */ 
.library-content::-webkit-scrollbar {
    opacity: 0;
    width: 1em;
    height: 1em;
    background-color: transparent;

}
.library-content::-webkit-scrollbar:hover {
    opacity: 1;
}

.library-content::-webkit-scrollbar-track {
    opacity: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;

}
.library-content::-webkit-scrollbar-track {
    opacity: 1;
}

.library-content::-webkit-scrollbar-thumb {
    opacity: 0;
    background-color: #2f2f2f;

}

.library-content::-webkit-scrollbar-thumb:hover {
    background-color: #c1c0c0;
    opacity: 1;
}
/* Base style for the scrollable element



/* Scrollbar for Webkit Browsers (Chrome, Edge, Safari) */ 
.main-section::-webkit-scrollbar {
    opacity: 0;
    width: 1em;
    height: 1em;
    background-color: transparent;

}
.main-section::-webkit-scrollbar:hover {
    opacity: 1;
}

.main-section::-webkit-scrollbar-track {
    opacity: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;

}
.main-section::-webkit-scrollbar-track {
    opacity: 1;
}

.main-section::-webkit-scrollbar-thumb {
    opacity: 0;
    background-color: #2f2f2f;

}

.main-section::-webkit-scrollbar-thumb:hover {
    background-color: #c1c0c0;
    opacity: 1;
}



